@import "tailwindcss";

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  background:
    radial-gradient(circle at top left, rgba(0, 255, 200, 0.12), transparent 25%),
    radial-gradient(circle at bottom right, rgba(0, 120, 255, 0.12), transparent 30%),
    linear-gradient(
      135deg,
      #020617 0%,
      #031525 35%,
      #041b2d 70%,
      #020617 100%
    );

  background-attachment: fixed;
  min-height: 100vh;
  color: white;
}

header {
  position: fixed;
  inset-inline: 0;
  top: 0;
  z-index: 50;
}


